# VS Code
.vscode/

# Virtual environment
.venv/

# Build output
build/

# Python cache folders (recursive)
__pycache__/
**/__pycache__/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Simulator binaries
simulator/a.out
simulator/*.out

# Logs, temp files
*.log
*.tmp

# Incident persistence file (if you want to ignore)
tmp/
.env
data/*.json
# OS junk
.DS_Store
